#global
*.orig

#Pods
Pods/

#ios
.DS_Store
*.xccheckout
.svn
.idea
.ropeproject
.venv

#CrashMonkey
instrumentscli*.trace/
crash_monkey_result/

# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
