#global
*.orig

#Pods
Pods/

#ios
.DS_Store
*~
project.xcworkspace/
*.xccheckout
xcuserdata/
.svn
.idea
.ropeproject
.venv

# CocoaPods
Pods

#CrashMonkey
instrumentscli*.trace/
crash_monkey_result/

# Docs
docs/_build
reports

# chruby
.ruby-version

# for xctool generated deriveddata path
build
